.navbar {
    background-color: azure;
    position: fixed;
    top: 0;
    width: 100%;   
    text-align: right; 
}

.navbar li {
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
    padding: 0vh 2vh 0vw 2vw; 
}

.navbar a {
    text-decoration: none; 
    color: navy;
}

.banner {
    background-color: mediumslateblue;
    color: whitesmoke;
    margin-top: 5%;
    text-align: center;
    padding: 2vh 0;
}

/*style for snow globe image*/
#snowglobe {
    height: 20vh;
    width: 20vw;
    border-radius: 55%;
    filter: drop-shadow(1px 1px 1px darkmagenta);
}

#lower-div {
    padding: 3vw 3vw;
    text-align: center;
}

#christmas {
    color: mediumpurple;
    font-size: large;
    font-family: cursive;
    font-weight: bold;
}

#bottom-list li {
    list-style: none;
    text-align: center;
}

.globes {
    display: inline;
}