.navbar {
    background-color: azure;
    position: fixed;
    top: 0;
    width: 100%;    
}

.navlist {
    list-style: none;
    display: inline-flex;
    justify-items: flex-end;
}

.banner {
    background-color: mediumslateblue;
    color: whitesmoke;
    margin-top: 5%;
    text-align: center;
    padding: 2vh 0;
}

/*style for snow globe image*/
#snowglobe {
    height: 20vh;
    width: 20vw;
    border-radius: 55%;
    filter: drop-shadow(1px 1px 1px darkmagenta);
}

#pando {
    color: mediumpurple;
    font-size: large;
    font-family: cursive;
    font-weight: bold;
}
